<div>
  <div>
    <h1>
      The Story Continues
    </h1>
  </div>
</div>

<p>Oftentimes we find ourselves stuck in a routine, an endless cycle though we have hopes and dreams. Or we find ourselves working tirelessly towards a goal, not realizing what each day has in store.</p>
<p>It's important then to record something that happens each day, whether it's something small or something big. 
<p>You'll see how each day unfolds and how your story continues...</p>

